.main{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128, .2);
    z-index: 100;
}
.main form{
    width: 40%;
    padding: 20px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 32px -12px #7C0061;
    background-color: white;
    z-index: 100;
}
.field{
    width: 100%;
    margin-bottom: 15px;
}
.field div{
    width: 100%;
}
.main button{
    align-self: flex-end;
    margin-bottom: 20px;
}
.main a{
    text-decoration: none;
    color: #7C0061;
    font-size: 20px;
    width: 100%;
    height: 100%;
}
.submit{
    align-self: center;
    margin-bottom: 0;
    margin-top: 20px !important;
    background-color: #7C0061 !important;
    border-radius: 0 !important;
    color: white !important;
    width: 25%;
    height: 40px;
}
.error{
    color: tomato;
    margin-block-end: 0;
    margin-block-start: 5px;
    font-size: 12px;
}